.greenBtn {
    border: 2px solid #46760A;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 6.5px 12px;

    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

    background-color: #6a983c;
}