.carousel {
    position: relative;
    margin-bottom: 130px;
}

.wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;

    overflow: hidden;
    padding-bottom: 24px;
}

.arrowLeft, .arrowRight {
    height: 48px;
    width: 32px;

    background-color: black;
    opacity: 87%;

    position: absolute;
    top: 50%;
    z-index: 10;
}

.arrowRight {
    border-radius: 6px 0 0 6px;
    right: 0;
}

.arrowLeft {
    border-radius: 0 6px 6px 0;
}